.user-item {
  margin: 1rem;
  width: calc(45% - 2rem);
  min-width: 17.5rem;
}

.user-item__content {
  display: flex;
  padding: 8px;
  cursor: pointer;
}

.user-item__image {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border-radius: 50%;
  overflow: hidden;
  flex-shrink: 0;
}

.user-item__info h2 {
  font-size: 1.25rem;
  margin: 0 0 0.25rem 0;
  font-weight: bold;
  color: var(--text-color);
}

.user-item__info h3 {
  margin: 0;
  font-weight: normal;
  color: var(--secondary-color);
}
