.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  position: relative;
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
}

.authentication form {
  margin: 1.5rem 0;
  text-align: left;
}

.authentication h2,
.authentication p {
  margin: 0px;
}

.authentication__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
