.all-places-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.all-places__load-more {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}
