@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');


/* COLOR VARIABLES */
:root {
  --primary-color: #7D5BA6;       /* Muted Purple */
  --accent-color: #C08F9D;        /* Dusty Rose */
  --secondary-color: #5CA4A9;     /* Soft Teal */
  --background-color: #F5F5F5;    /* Off-white */
  --light-gray: #D9D9D9;          /* For borders, subtle elements */
  --text-color: #333333;          /* Default text */
  --hover-bg-color: #C08F9D;      /* Button hover background */
  --hover-text-color: #FFFFFF;    /* Button hover text */
  --nav-hover-bg: #f8df00;        /* Nav button hover background */
  --nav-hover-text: #292929;      /* Nav button hover text */
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  margin: 0;
  background: var(--background-color);
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}