.authentication__header {
  color: var(--nav-text);
  text-align: center;
}

.authentication {
  position: relative;
  width: 90%;
  max-width: 25rem;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.authentication form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.authentication h2,
.authentication p {
  margin: 0px;
}

.authentication .button {
  width: 100%;
}

.authentication > .button {
  margin-top: 0.75rem;
}
