.authentication__header {
  color: white;
  text-align: center;
}

.authentication {
  position: relative;
  width: 90%;
  max-width: 25rem;
  margin: 0 auto;
  padding-top: 7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.authentication form {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.authentication h2,
.authentication p {
  margin: 0px;
}
